.actives {
    border-radius: 20px;
    background: white;
    overflow: hidden;
    &__wrapper {
        border-radius: 40px;
        padding: 20px;
    }

    &__table {
        //border-bottom: unset !important;
    }
}

.subname {
    color: #757575;
    margin-left: 10px;
    font-size: 13px;
}

.error {
    color: #e35454;
    font-size: 13px;
}

.has__error {
    border-color: #e35454;
}


.filters {
    padding-left: 28px;
    margin-bottom: 20px;

    //.filters__content
    &__content {
        min-height: 38px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    //.filters__toggle
    &__toggle {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 3px;
        transition: 0.2s;

        //.filters__toggle:hover
        &:hover {
            color: #777777;
        }

        //.filters__toggle-icon
        &-icon {
            img {
                //.filters__toggle-icon:hover
                &:hover {
                    color: #777777;
                }
            }

        }
    }
}
